@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #201c1c;
}

ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.collapse {
  display: initial;
}

.web-button {
  background-color: #282424;
  color: #fff;
  font-weight: 600;
  padding: 1.5rem;
  border: none;
  width: fit-content;
}

.web-button:hover, .web-button:active {
  background-color: #383535;
}

.navigation-menu {
  padding-bottom: 1rem;
  background-color: #282424;
}

.navigation-icon {
  width: 12%;
  margin: 1rem 1rem 0 1rem;
}

.navigation-list {
  display: none;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #282424;
}

.navigation-list li {
  list-style: none;
  margin: 1rem 3rem 1rem 3rem;
}

.navigation-button {
  align-self: flex-end;
}

.navigation-list a {
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
}

.navigation-list a:active {
  color: #ffa630;
}

.home-page-content {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 0 1rem;
}

.home-page-content h2 {
  color: #c0c0c0;
  font-size: 1.6rem;  
  font-weight: normal;
}

.home-page-content h1 {
  color: #ffa630;
  font-size: 2.3rem;
  font-weight: 900;
  text-shadow: 0.0625rem 0.0625rem 0.25rem #000;
}

.home-page-content p {
  color: #fff;
  border: 0.125rem solid #ffa630;
  padding: 1rem;
  margin: 1.5rem 0;
  word-spacing: 0.1rem;
}

.home-page h3 {
  color: #fff;
  font-weight: 900;
}

.home-page h4 {
  margin-top: 0.5rem;
  color: #c0c0c0;
  margin-bottom: 5rem;
}

.main-program {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  row-gap: 1rem;
  padding: 2rem 0;
  background-color: #181515;
}

.main-program h3 {
  text-align: center;
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 1rem;
  font-weight: normal;
}

.main-program h3 hr {
  width: 2rem;
  border: 0.0625rem solid #ffa630;
}

.program-item {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  margin: 0 1rem 0 1rem;
  align-items: center;
}

.program-item h4 {
  color: #ffa630;
  flex: 0.8;
}

.program-item i {
  color: #fff;
  margin-right: 0.3125rem;
}

.program-item p {
  color: #fff;
  flex: 1;
}

.main-program button {
  justify-self: center;
  margin-top: 1rem;
  font-size: 1rem;
}

.main-featured {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

.main-featured h3 {
  text-align: center;
  margin-top: 2rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: normal;
}

.main-featured h3 hr {
  width: 2rem;
  border: 0.0625rem solid #ffa630;
  margin-bottom: 2rem;
}

.main-featured button {
  justify-self: center;
  background-color: #181515;
  margin-bottom: 3rem;
}

.featured-player {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  margin-left: 1rem;
}

.featured-player img {
  box-shadow: 0.0625rem 0.0625rem 0.3125rem black;
}

.player-description {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.player-description h4 {
  color: #fff;
  font-size: 1.2rem;
}

.player-description h5 {
  color: #c0c0c0;
  font-style: italic;
  margin-top: 0.5rem;
}

.player-description h5 hr {
  width: 1rem;
  margin: 0.7rem 0;
  border: 0.0625rem solid #ffa630;
}

.player-description p {
  font-size: 0.7rem;
  color: #fff;
}

.aboutme-page {
  background: #181515;
}

.navigation-logo {
  width: 26%;
  position: absolute;
  top: 0;
  right: 0;
}

.aboutme-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.aboutme-page-content h2 {
  color: #c0c0c0;
  font-size: 1.6rem;
  font-weight: normal;
  margin: 1rem 0;
}

.aboutme-page-content h1 {
  color: #ffa630;
  font-size: 2.3rem;
  font-weight: 900;
}

.aboutme-page-content p {
  color: #fff;
  background-color: #282424;
  border: 0.125rem solid #ffa630;
  padding: 2rem 0.25rem;
  margin: 1rem;
  word-spacing: 0.1rem;
}

.aboutme-page-content footer {
  margin-bottom: 3rem;
}

.aboutme-page-content footer h3 {
  color: #fff;
  margin: 1rem 1rem 0.25rem 1rem;
  font-size: 0.90rem;
  font-weight: normal;
}

.aboutme-page-content footer a {
  color: #ffa630;
  text-decoration: underline;
  font-weight: 800;
  font-size: 0.90rem;
  margin-bottom: 3rem;
}

.logo-page {
  background-color: #181515;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  text-align: center;
}

.logo-page h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 0.5rem;
  font-weight: normal;
  font-size: 1.4rem;
}

.logo-page h3 hr {
  width: 2rem;
  border: 0.0625rem solid #ffa630;
  margin-bottom: 1rem;
}

.logo-page p {
  color: #fff;
  margin: 0 1rem;
}

.logo-page img {
  width: 100%;
  margin: 1rem 0 2rem 0;
}

.logo-page hr {
  width: 100%;
  border: 0.0625rem solid #ffa630;
  margin-bottom: 0;
}

.pastcon-page {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  text-align: center;
}

.pastcon-page h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 0.5rem;
  font-weight: normal;
  font-size: 1.4rem;
}

.pastcon-page h3 hr {
  width: 2rem;
  border: 0.0625rem solid #ffa630;
}

.pastcon-page p {
  color: #fff;
  margin: 1rem 1rem 2rem 1rem;
}

.con-2018 {
  background: url('./images/mobile/main-page/fpscon2018.jpg');
  height: 30vh;
  background-size: 100%;
  margin: 1rem;
}

.color-overlay {
  background-color: rgba(255, 166, 48, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.con-2018 h4 {
  color: #fff;
  font-size: 2rem;
}

.con-2018 h5 {
  color: #fff;
  font-size: 1.2rem;
}

.con-2020 {
  background: url('./images/mobile/main-page/fpscon2020.png');
  height: 30vh;
  background-size: 100%;
  margin: 1rem 1rem 4rem 1rem;
}

.con-2020 h4 {
  color: #fff;
  font-size: 2rem;
}

.con-2020 h5 {
  color: #fff;
  font-size: 1.2rem;
}

.partners-page {
  background-color: #181515;
  padding: 2rem 0;
}

.partners-page h3 {
  text-align: center;
  font-size: 1.4rem;
  color: #fff;
  font-weight: normal;
}

.partners-page h3 hr {
  width: 2rem;
  border: 0.0625rem solid #ffa630;
}

.partners{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.partner-logo {
  width: 33%;
}

.rights-page {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  gap: 1rem;
  justify-content: space-around;
}

.rights-page h2 {
  color:#ffa630;
  font-weight: normal;
  font-size: 1.3rem;
  text-align: center;
  margin-left: 1rem;
}

.rights-page p {
  color: #fff;
  margin-right: 1rem;
  font-size: 0.7rem;
}